
.handle {
  display: none;
  position: absolute;
  top: 0;
  left: -28px;
  font-size: 16px;
  color: #fff;
  font-weight: 900;
  > div {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
  }
  .handle1 {
    cursor: move;
    border-radius: 4px 4px 0 0;
    background-color: #afce01;
  }
  .handle2 {
    background-color: #00acd6;
  }
  .handle3 {
    border-radius: 0 0 4px 4px;
    background-color: #f7632e;
  }
}
.nature {
  display: none;
  position: fixed;
  right: 20px;
  top: 80px;
  z-index: 2;
  p {
    font-weight: 900;
  }
  input[type=text] {
    width: 202px;
    height: 30px;
    border: 1px solid #99aabb;
    border-radius: 4px;
    padding: 0 4px;
    color: #005588;
    margin-bottom: 10px;
  }
}


.bd0 {
  border: 1px solid rgba(0, 0, 0, 0);
}

.bd1 {
  border: 1px solid #f1cdac !important;
}

.handle {
  z-index: 40;
}

.form-template {
  margin-top: 40px;
  width: 80%;
  max-width: 750px;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 8px;
  padding: 0 10px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.isChecked {
  padding-left: 150px;
  font-size: 14px;
  margin-top: 4px;
  font-weight: 900;
  color: indianred;
}